#mainNav {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    list-style: none;

    li {
      margin: 0 10px;

      a {
        color: red;
      }
    }
  }

  .logo {
    color: green;
    margin-right: auto;
    font-weight: 600;
    font-size: 2rem;
  }
}
