@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

.site-content {
  display: flex;
  margin-top: 2rem;

  section {
    flex: auto;
  }
}

a {
  text-decoration: none;
  color: #000;
}
